body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a h1 {
    font-size: 16px;
}

#header {
    border-bottom: 1px solid;
}

#header * {
    display: inline-block;
}

#header nav {
    float: right;
    padding: 0;
}

#header nav ul li {
    width: 100px;
    text-align: center;
}

#banner {
    text-align: center;
    background-image: url('../midias/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#banner h4 {
    padding-top: 240px;
}

#destinos {
    text-align: center;

    overflow: hidden;
}

#destinos div div {
    width: 275px;
    height: 250px;
    margin: 20px;
    float: left;
}

#destinos:first-child(1) {
    background-image: url('../midias/img/product-1.jpg')
}

.linha {
    margin: 0 auto;
    width: 945px;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
}